@model IEnumerable<Projects.Models.usersaccounts>

@{
    ViewData["Title"] = "roleslist";
}
<link rel="stylesheet" type="text/css" href="~/css/style.css" />
<h1>users roles</h1>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style> 
    body{color:white}
</style>
<body>
    <div id="blackBackground">

    <div class="form-group">
    </div>
    <div class="form-group">
        <label class="control-label">Select role</label>
        <select class="form-control" name="role" id="role" >
            <option value="nothing">
                Please select
            </option>

                @foreach (var item in Model)
                {
                    <option value="@item.role">@item.role</option>
                }

            

        </select>
    </div>
    <div>

            <button class="btn btn-primary" onclick="getrole()" >Show</button>

        </div>




<table id="ti" class="table text-light">
    <thead>
        <tr style="color:white">
                    <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="ta">

       

    </tbody>
    


</table>
    </div>


</body>
<script>
    async function getrole() {
        var role = document.getElementById('role').value;
        var response = await fetch('/getnameAPI/' + role);
        let x = await response.json();

        dd = ""

        for (var i = 0; i < x.length; i++) {

            dd += "<tr> <td>" + x[i].name + "</td> <td>" + x[i].pass + "</td><td>" + x[i].RegistDate + "</td><td>" + x[i].role + "</td>  </tr>"
        }
        document.getElementById("ta").innerHTML = dd;
    }
</script>
